<ion-header-bar class="bar-stable">
    <h1 class="title">LOGIN</h1>
</ion-header-bar>
<ion-content>
    <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="email">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="password">
        </label>
        <button class="button button-block button-positive">
            Local Login
        </button>
        <button ng-click='login()' class="button button-block button-balanced">
            Google Login
        </button>
    </div>
</ion-content>